/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'lucida grande', tahoma, verdana, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Animetick application css */
div#headbar {
    background: #f33;
    border-top: solid 1px #F83;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    height: 40px;
    font-size: 0.9em;
    z-index: 100;
    position: fixed;
    width: 100%;
}
div#headbar div#header {
    margin: auto;
    height: 100%;
}
div#headbar div#header h1#logo {
    display: block;
    float: left;
    height: 100%;
    width: 160px;
}
div#headbar div#header h1#logo:hover {
    background: #f33;
}
div#headbar div#header h1#logo a {
    display: block;
    background-image: url(/assets/helper_logo.png);
    background-repeat: no-repeat;
    background-size: auto;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 160px;
    height: 100%;
}

div#headbar div#header ul#twimas {
	display: block;
	float: left;
	height: 100%;
	margin-left: 5px;
}

div#headbar div#header ul#twimas input#twitter_master{
	margin-top: 1px;
}

div#headbar div#header ul#twimas img.twitter_icon{
	width: 20px;
	height: 20px;
	margin-top: 2px;
}

div#headbar div#header div#menu {
    display: block;
    float: right;
    height: 100%;
}
div#headbar div#header div#menu ul.button {
    display: block;
    height: 100%;
}
div#headbar div#header div#menu ul.button li {
    display: table;
    float: left;
    height: 100%;
    color: white;
}
div#headbar div#header div#menu ul.button li:hover {
    background: linear-gradient(to bottom, #FF5814, #FF5814 50%, #FF6633);
    background: -moz-linear-gradient(top, #FF5814, #FF5814 50%, #FF6633);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF5814), color-stop(0.5, #FF5814), to(#FF6633));
}
div#headbar div#header div#menu ul.button li a {
    display: table-cell;
    padding: 0 8px;
    color: white;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(192, 192, 192, 0.2), -1px -1px 1px rgba(64, 64, 64, 0.2);
    font-weight: bold;
    overflow: hidden;
}

div#body {
    width: 1100px;
    margin: auto;
    padding: 5px 0 0 0;
    font-size: 0.8em;
}


button.button {
    -webkit-appearance: none;
    -webkit-border-image: none;
    -webkit-box-align: center;
    -webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(221, 221, 221);
    background: linear-gradient(to bottom, #FFF, #DDD);
    background: -moz-linear-gradient(top, #FFF, #DDD);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DDD));
    background-repeat: repeat-x;
    border-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    width: 6em;
    height: 2em;
    letter-spacing: normal;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 1px;
    text-transform: none;
    word-spacing: 0px;
    writing-mode: lr-tb;
}

div#tickets {
    width: 330px;
    float: left;
    margin-top: 42px;
}

div#tickets div.ticket_relative {
    position: relative;
    border-left: 4px solid #E0E4CC;
}
div#tickets div.ticket_selected {
    border-left: 4px solid #69D2E7;
}
div#tickets div.ticket {
    background: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    background: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EFEFEF));
    overflow: hidden;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
}
div#tickets div.ticket_selected div.ticket {
    background: linear-gradient(to bottom, #DFDFDF, #EFEFEF);
    background: -moz-linear-gradient(top, #DFDFDF, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#EFEFEF));
}

div#tickets div.ticket div.detail {
    float: left;
    width: 320px;
    margin: 5px 5px 5px 0;
}
div#tickets div.ticket div.detail img.badge {
    display: block;
    float: right;
    margin-top: -5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 25px;
}
div#tickets div.ticket div.detail div.title {
    font-weight: bold;
    font-size: 1.1em;
    color: #222;
    margin-bottom: 3px;
}
div#tickets div.ticket div.detail div.title:hover {
    text-decoration: underline;
}
div.detail span.flag {
    display: inline-block;
    padding: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid black;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.0em;
}
div.button_block {
    clear: both;
    width: auto;
    margin-right: auto;
    display: inline;
}
div#tickets div.ticket div.detail div.sub_title span.count {
    font-weight:bold;
}
div#tickets div.ticket div.detail div.sub_title a {
    margin: 2px;
    font-size: 0.9em;
    color: #444;
    text-decoration: none;
}
div#tickets div.ticket div.detail div.sub_title a:hover {
    text-decoration: underline;
}
div#tickets div.ticket div.detail button.ticket_watch {
    float: right;
}
div#tickets div.ticket div.detail div.program_detail {
    margin-top: 5px;
    margin-right: auto;
    width: auto;
    float: left;
    font-size: 95%;
}

div#tickets div.ticket_relative div.anime {
    position: absolute;
    top: 0;
    left: 326px;
    width: 500px;
    background: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    background: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EFEFEF));
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
div#tickets div.ticket_relative div.anime img.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: block;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div#tickets div.ticket_relative div.anime div.detail {
    float: left;
    width: 435px;
    margin: 5px 5px 5px 0;
}
div#tickets div.ticket_relative div.anime div.title {
    font-weight: bold;
    font-size: 1.1em;
}
div#tickets div.ticket_relative div.anime div.title a {
    color: #333;
    text-decoration: none;
}
div#tickets div.ticket_relative div.anime div.title a:hover {
    text-decoration: underline;
}
div#tickets div.ticket_relative div.anime div.episodes {
    margin: 5px;
}
div#tickets div.ticket_relative div.anime div.episodes div.episode {
    padding: 4px;
    overflow: hidden;
    border-left: 4px solid #E0E4CC;
    background-color: #FAFAFA;
    width: auto;
}
div#tickets div.ticket_relative div.anime div.episodes div.episode:hover {
    background-color: #EEE;
    border-left: 4px solid #69D2E7;
}
div#tickets div.ticket_relative div.anime div.episodes div.episode div.sub_title {
    padding: 0.2em;
    float: left;
    width: 25.5em;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div#tickets div.ticket_relative div.anime div.episodes div.watched {
    background-color: #DDD;
}
div#tickets div.ticket_relative div.anime div.episodes div.watched:hover {
    background-color: #CCC;
}
div#tickets div.ticket_relative div.anime div.episodes div.episode div.sub_title span.count {
    font-weight: bold;
}


a.button {
    -webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px;
    background-color: rgb(221,221,221);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(221, 221, 221));
    background-repeat: repeat-x;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin: 5px auto;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-decoration: none solid rgb(51, 51, 51);
    text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 1px;
}

a.no_margin {
    margin: 0;
}

a.button_enable {
    background-color: rgb(221, 221, 221);
    background-image: linear-gradient(rgb(221, 221, 221), rgb(255, 255, 255));
}

span.channel {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    padding: 1px 2px;
    font-size: 0.8em;
    color: #e44;
}

input#twitter_master{
    display:block;
    position:absolute;
    opacity:0;
    width:20px;
    height:40px;
    margin:0px;
}

input#twitter_master:checked + label {
    display:block;
    width:20px;
    height:40px;
    background-image: url(/assets/twitter_mini.png);
    background-repeat:no-repeat;
    margin-top:10px;
}

input#twitter_master + label{
    display:block;
    width:20px;
    height:40px;
    background-image: url(/assets/notwitter.png);
    background-repeat:no-repeat;
    margin-top:10px;
}