/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'lucida grande', tahoma, verdana, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Animetick application css */
div#headbar {
    background: #f33;
    border-top: solid 1px #F83;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    height: 40px;
    font-size: 0.9em;
    z-index: 100;
    position: fixed;
    width: 100%;
}
div#headbar div#header {
    margin: auto;
    height: 100%;
}
div#headbar div#header h1#logo {
    display: block;
    float: left;
    height: 100%;
    width: 160px;
}
div#headbar div#header h1#logo:hover {
    background: #f33;
}
div#headbar div#header h1#logo a {
    display: block;
    background-image: url(/assets/helper_logo.png);
    background-repeat: no-repeat;
    background-size: auto;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 160px;
    height: 100%;
}

div#headbar div#header ul#twimas {
	display: block;
	float: left;
	height: 100%;
	margin-left: 5px;
}

div#headbar div#header ul#twimas input#twitter_master{
	margin-top: 1px;
}

div#headbar div#header ul#twimas img.twitter_icon{
	width: 20px;
	height: 20px;
	margin-top: 2px;
}

div#headbar div#header div#menu {
    display: block;
    float: right;
    height: 100%;
}
div#headbar div#header div#menu ul.button {
    display: block;
    height: 100%;
}
div#headbar div#header div#menu ul.button li {
    display: table;
    float: left;
    height: 100%;
    color: white;
}
div#headbar div#header div#menu ul.button li:hover {
    background: linear-gradient(to bottom, #FF5814, #FF5814 50%, #FF6633);
    background: -moz-linear-gradient(top, #FF5814, #FF5814 50%, #FF6633);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF5814), color-stop(0.5, #FF5814), to(#FF6633));
}
div#headbar div#header div#menu ul.button li a {
    display: table-cell;
    padding: 0 8px;
    color: white;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(192, 192, 192, 0.2), -1px -1px 1px rgba(64, 64, 64, 0.2);
    font-weight: bold;
    overflow: hidden;
}
div#headbar div#header div#menu ul.button li a span.twitter {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-image: url('/assets/twitter_icon-572d12fd5a561c6a72a93aae4183236f.png');
}
@media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
    div#headbar div#header div#menu ul.button li a span.twitter {
        background-image: url('/assets/twitter_icon_2x-fb7042d9cb872a88df89d14a92285e39.png');
        background-size: 40px 40px;
    }
}
div#headbar div#header div#menu ul.button li a span.signout {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 40px;
    background-image: url('/assets/signout-6421f02e3c07ab855b3e6f634ccf165f.png');
}
@media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
    div#headbar div#header div#menu ul.button li a span.signout {
        background-image: url('/assets/signout_2x-3a9b1cc6528ed8bb6dfa2ecbfe138700.png');
        background-size: 30px 40px;
    }
}
div#headbar div#header div#menu ul.button li a span.config {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 40px;
    background-image: url('/assets/config-cfff6c11f67ed065e728338b0abd278c.png');
}
@media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
    div#headbar div#header div#menu ul.button li a span.config {
        background-image: url('/assets/config_2x-6d76adf49654281daaccb7e2d7bab6c3.png');
        background-size: 30px 40px;
    }
}
div#headbar div#header div#menu ul.button li#user a img {
    vertical-align: middle;
    margin-right: 2px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px rgba(192, 192, 192, 0.5), -1px -1px 1px rgba(64, 64, 64, 0.2);
    color: white;
}
div#headbar div#header div#menu ul.button li#user a span {
    margin-left: 2px;
}

div#body {
    width: 1100px;
    margin: auto;
    padding: 5px 0 0 0;
    font-size: 0.8em;
}


div#footer {
    padding: 30px 0 10px 0;
    text-align: center;
    font-size: 0.7em;
    color: #555;
    clear: both;
}

.display_off {
    display: none !important;
}
strong {
    font-weight: bold;
}
h2 {
    margin: 5px;
    color: #222;
    font-size: 1em;
    font-weight: bold;

}

h3 {
    background: linear-gradient(to bottom, #333, #222);
    background: -moz-linear-gradient(top, #333, #222);
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
    padding: 6px 0px 5px 13px;
    color: white;
    font-weight: bold;
}

h3.header {
    background: linear-gradient(to bottom, #EEE, #CCC);
    background: -moz-linear-gradient(top, #EEE, #CCC);
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    margin: 0;
    padding: 10px 13px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 20px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #BFBFBF;
    color: #333;
    clear: both;
}

ul.four-block {
    display: table;
    color: #444;
}

ul.four-block li {
    background: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    background: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EFEFEF));
    vertical-align: top;
    display: table-cell;
    width: 271px; /* 275px */
    border-left: 4px solid #E0E4CC;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #DFDFDF;
}

ul.four-block li.watching {
    background: linear-gradient(to bottom, #FFEDDE, #FFDFC5);
    background: -moz-linear-gradient(top, #FFEDDE, #FFDFC5);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFEDDE), to(#FFDFC5));
}

ul.four-block li:hover {
    border-left: 4px solid #69D2E7;
    background: linear-gradient(to bottom, #EFEFEF, #FAFAFA);
    background: -moz-linear-gradient(top, #EFEFEF, #FAFAFA);
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#FAFAFA));
}

ul.four-block li.watching:hover {
    border-left: 4px solid #69D2E7;
    background: linear-gradient(to bottom, #FFDFC5, #FFEDDE);
    background: -moz-linear-gradient(top, #FFDFC5, #FFEDDE);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFDFC5), to(#FFEDDE));
}

ul.four-block div.one-four-block {
    width: 100%;
    padding: 3px;
    float: left;
}

ul.four-block div.one-four-block img.icon {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.four-block div.one-four-block div.detail {
    display: inline-block;
    width: 200px;
    padding: 3px;
    line-height: 1.2em;
}
ul.four-block div.one-four-block div.detail div.count {
    padding: 3px;
    font-weight: bold;
}
ul.four-block div.one-four-block div.detail div.title {
    font-weight: bold;
}
ul.four-block div.one-four-block div.detail div.title a {
    color: #333;
    text-decoration: none;
}
ul.four-block div.one-four-block div.detail div.title a:hover {
    text-decoration: underline;
}
ul.four-block div.one-four-block div.detail span.watcher span.num {
    font-weight: bold;
    font-size: 1.1em;
}

ul.four-block div.one-four-block button.watch {
    width: 80px;
    float: right;
    margin-right: 10px;
    margin-bottom: 3px;
}

button.button {
    -webkit-appearance: none;
    -webkit-border-image: none;
    -webkit-box-align: center;
    -webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(221, 221, 221);
    background: linear-gradient(to bottom, #FFF, #DDD);
    background: -moz-linear-gradient(top, #FFF, #DDD);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DDD));
    background-repeat: repeat-x;
    border-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    width: 6em;
    height: 2em;
    letter-spacing: normal;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 1px;
    text-transform: none;
    word-spacing: 0px;
    writing-mode: lr-tb;
}

button.enable {
    background-image: linear-gradient();
    background: linear-gradient(to bottom, #FF3307, #FA6900);
    background: -moz-linear-gradient(top, #FF3307, #FA6900);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF3307), to(#FA6900));
    color: white;
    text-shadow: rgba(255, 51, 51, 0.498039) 0px 1px 1px;
    border-color: rgb(204, 40, 40);
}
button:hover.enable {
    background: linear-gradient(to bottom, #FF3307, #FA6900);
    background: -moz-linear-gradient(top, #FF3307, #FA6900);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF3333), to(#FF0000));
}

div#dropbox {
    float: left;
}
div#dropbox div.innerline {
    width: 400px;
    height: 300px;
    display: table-cell;
    border: 3px dashed #AAA;
    font-size: 2em;
    text-align: center;
    color: #AAA;
    background-color: #EFEFEF;
    vertical-align: middle;
}
div#preview {
    margin-left: 30px;
    float: left;
    padding: 0;
}
div#preview div.relative {
    position: relative;
}
div#preview div.relative img {
    display: block;
    margin: 0;
    padding: 0;
}
div#preview div.relative div.clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    height: 98px;
    border: 1px dashed black;
    background-color: white;
    filter: alpha(opacity=25);
    -moz-opacity:0.25;
    opacity:0.25;
}
div#preview div.outline {
    width: 600px;
    height: 500px;
    background-color: #EFEFEF;
    overflow: scroll;
}

div.anime-page {
    margin: 10px;
    float: left;
    width: 300px;
}
div.anime-page img.icon {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px #999;
    -moz-box-shadow: 0px 0px 3px #999;
    -webkit-box-shadow: 0px 0px 3px #999;
}
div.anime-page img.icon:hover {
    box-shadow: 0px 0px 7px #999;
    -moz-box-shadow: 0px 0px 7px #999;
    -webkit-box-shadow: 0px 0px 7px #555;
}

div.anime-page div.anime-info-top {
    overflow: hidden;
}
div.anime-page div.anime-info-right {
    width: 186px;
    margin-top: 50px;
    text-align: right;
    float: left;
}
div.anime-page div.anime-info-right span.watcher {
    font-size: 1.5em;
}
div.anime-page div.anime-info-right span.watcher span.num {
    font-size: 1.6em;
    font-weight: bold;
}
div.anime-page div.anime-info-bottom {
    clear: both;
}
div.anime-page div.anime-info-bottom h2 {
    display: block;
    margin: 10px 0 0 0;
    font-size: 2em;
}
div.anime-page div.anime-info-bottom div.season {
    display: block;
    margin: 10px 0 0 0;
    font-size: 1.5em;
    border-top: 1px solid #AAA;
    padding: 10px;
}
div.anime-page div.anime-info-bottom div.hashtag {
    font-size: 1.3em;
    margin: 5px auto;
}
div.anime-page div.anime-info-bottom div.graph {
    width: 100%;
    height: 200px;
}
div.anime-detail-right {
    float: left;
}
div.episodes-block {
    margin-top: 5px;
    width: 400px;
}
div.episodes-block h3 {
    background: linear-gradient(to bottom, #EEE, #CCC);
    background: -moz-linear-gradient(top, #EEE, #CCC);
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    margin: 0;
    padding: 10px 13px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #BFBFBF;
    color: #333;
}
div.episodes-block li.episode-block {
    display: block;
    position: relative;
    border-left: 4px solid #E0E4CC;
}
div.episodes-block li.episode-block:hover {
    border-left: 4px solid #69D2E7;
}
div.episodes-block li.episode-block div.episode {
    background: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    background: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EFEFEF));
    overflow: hidden;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #DFDFDF;
    padding: 5px;
}
div.episodes-block li.episode-block:hover div.episode {
    background: linear-gradient(to bottom, #DFDFDF, #EFEFEF);
    background: -moz-linear-gradient(top, #DFDFDF, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#EFEFEF));
}

div.episodes-block li.episode-block a {
    color: black;
    text-decoration: none;
}

div.episodes-block li.episode-block a:hover {
    text-decoration: underline;
}

div.announce {
    margin: 5px 0;
    padding: 15px;
    background: linear-gradient(to bottom, #2A2A2A, #111);
    background: -moz-linear-gradient(top, #2A2A2A, #111);
    background: -webkit-gradient(linear, left top, left bottom, from(#2A2A2A), to(#111));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #FAFAFA;
}
div.announce a {
    color: white;
}
div.announce a:hover {
    color: #FAA;
}

div#tickets {
    width: 330px;
    float: left;
    margin-top: 42px;
}
h2 {
    clear: both;
}
h2.header {
    background: linear-gradient(to bottom, #EEE, #CCC);
    background: -moz-linear-gradient(top, #EEE, #CCC);
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    margin: 5px 0 0 0;
    padding: 10px 13px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #BFBFBF;
    color: #333;
}
a.more_button {
    display: block;
    background: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    background: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#EFEFEF));
    margin: 0;
    padding: 10px;
    text-align: center;
    color: black;
}
div#tickets div.ticket_relative {
    position: relative;
    border-left: 4px solid #E0E4CC;
}
div#tickets div.ticket_selected {
    border-left: 4px solid #69D2E7;
}
div#tickets div.ticket {
    background: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    background: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EFEFEF));
    overflow: hidden;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
}
div#tickets div.ticket_selected div.ticket {
    background: linear-gradient(to bottom, #DFDFDF, #EFEFEF);
    background: -moz-linear-gradient(top, #DFDFDF, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#EFEFEF));
}
div#tickets div.ticket img.anime_icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: none;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div#tickets div.ticket div.detail {
    float: left;
    width: 320px;
    margin: 5px 5px 5px 0;
}
div#tickets div.ticket div.detail img.badge {
    display: block;
    float: right;
    margin-top: -5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 25px;
}
div#tickets div.ticket div.detail div.title {
    font-weight: bold;
    font-size: 1.1em;
    color: #222;
    margin-bottom: 3px;
}
div#tickets div.ticket div.detail div.title:hover {
    text-decoration: underline;
}
div.detail span.flag {
    display: inline-block;
    padding: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid black;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.0em;
}
div.button_block {
    clear: both;
    width: auto;
    margin-right: auto;
    display: inline;
}
div#tickets div.ticket div.detail div.sub_title span.count {
    font-weight:bold;
}
div#tickets div.ticket div.detail div.sub_title a {
    margin: 2px;
    font-size: 0.9em;
    color: #444;
    text-decoration: none;
}
div#tickets div.ticket div.detail div.sub_title a:hover {
    text-decoration: underline;
}
div#tickets div.ticket div.detail button.ticket_watch {
    float: right;
}
div#tickets div.ticket div.detail div.program_detail {
    margin-top: 5px;
    margin-right: auto;
    width: auto;
    float: left;
    font-size: 95%;
}

div#tickets div.ticket_relative div.anime {
    position: absolute;
    top: 0;
    left: 326px;
    width: 500px;
    background: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    background: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EFEFEF));
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
div#tickets div.ticket_relative div.anime img.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: block;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div#tickets div.ticket_relative div.anime div.detail {
    float: left;
    width: 435px;
    margin: 5px 5px 5px 0;
}
div#tickets div.ticket_relative div.anime div.title {
    font-weight: bold;
    font-size: 1.1em;
}
div#tickets div.ticket_relative div.anime div.title a {
    color: #333;
    text-decoration: none;
}
div#tickets div.ticket_relative div.anime div.title a:hover {
    text-decoration: underline;
}
div#tickets div.ticket_relative div.anime div.episodes {
    margin: 5px;
}
div#tickets div.ticket_relative div.anime div.episodes div.episode {
    padding: 4px;
    overflow: hidden;
    border-left: 4px solid #E0E4CC;
    background-color: #FAFAFA;
    width: auto;
}
div#tickets div.ticket_relative div.anime div.episodes div.episode:hover {
    background-color: #EEE;
    border-left: 4px solid #69D2E7;
}
div#tickets div.ticket_relative div.anime div.episodes div.episode div.sub_title {
    padding: 0.2em;
    float: left;
    width: 25.5em;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div#tickets div.ticket_relative div.anime div.episodes div.watched {
    background-color: #DDD;
}
div#tickets div.ticket_relative div.anime div.episodes div.watched:hover {
    background-color: #CCC;
}
div#tickets div.ticket_relative div.anime div.episodes div.episode div.sub_title span.count {
    font-weight: bold;
}


a.button {
    -webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px;
    background-color: rgb(221,221,221);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(221, 221, 221));
    background-repeat: repeat-x;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin: 5px auto;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-decoration: none solid rgb(51, 51, 51);
    text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 1px;
}

a.no_margin {
    margin: 0;
}

a.button_enable {
    background-color: rgb(221, 221, 221);
    background-image: linear-gradient(rgb(221, 221, 221), rgb(255, 255, 255));
}

span.channel {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    padding: 1px 2px;
    font-size: 0.8em;
    color: #e44;
}

input#twitter_master{
    display:block;
    position:absolute;
    opacity:0;
    width:20px;
    height:40px;
    margin:0px;
}

input#twitter_master:checked + label {
    display:block;
    width:20px;
    height:40px;
    background-image: url(/assets/twitter_mini.png);
    background-repeat:no-repeat;
    margin-top:10px;
}

input#twitter_master + label{
    display:block;
    width:20px;
    height:40px;
    background-image: url(/assets/notwitter.png);
    background-repeat:no-repeat;
    margin-top:10px;
}